.card {
    margin: 1%;
}
.item {
    text-align: center;
}
.timer {
    float:left;
    font-size: 200%;
    color: black;
}
.item .btn-primary {
    margin: 1%;
}
#new, #setpassword, #items, #login, #import, #msg {
    padding-left: 4%;
    padding-right: 4%;
    display: none;
}